/* You can add global styles to this file, and also import other style files */
@use 'bootstrap/scss/bootstrap';
@import '@openng/icons/openng-icons.css';

:root {
  --shadow-card: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  --sidebar-bg: #10264c;
  --text-color: #333;
  --card-background: #f3f7fc;
  --header-background: #f3f7fc;
  --header-background-gradient: linear-gradient(180deg, #e9edf5 0%, var(--header-background) 100%);
  --color-text-primary: #1f2937;
  --color-text-secondary: #666;
  --color-text-tertiary: #999;
}
:root.app-dark {
  --card-background: #1e1e1e;
  --header-background: #1e1e1e;
  --header-background-gradient: linear-gradient(180deg, #595a5c 0%, var(--header-background) 100%);
  --color-text-primary: #fff;
  --color-text-secondary: #ccc;
  --color-text-tertiary: #999;
}

html,
body {
  color: var(--text-color);
  height: 100%;
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: var(--card-background);
  box-sizing: border-box;
  color: var(--color-text-primary);
}

.shadow {
  box-shadow: var(--shadow-card);
}
.card {
  border-color: transparent;
  box-shadow: var(--shadow-card);
}

.p-tree-node-label {
  width: 100%;
}
.app-dark {
  .shell-layout {
    background-color: var(--card-background) ;
  }

}
