/* You can add global styles to this file, and also import other style files */
@use 'bootstrap/scss/bootstrap';
@import '@openng/icons/openng-icons.css';

:root {
  --shadow-card: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  --sidebar-bg: #10264c;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #f3f7fc;
  box-sizing: border-box;
}

.shadow {
  box-shadow: var(--shadow-card);
}
.card {
  border-color: transparent;
  box-shadow: var(--shadow-card);
}
