<div class="auth-layout">
  <section class="auth-layout__visual">
    <div class="auth-layout__branding">
      <img
        class="auth-layout__logo"
        src="assets/Logo.png"
        alt="BuildTrack"
      />

      <p class="auth-layout__description">
        Облік витрат на будівництво
      </p>
    </div>

    <div class="auth-layout__building"></div>
  </section>

  <section class="auth-layout__content">
    <div class="auth-layout__content-inner">
      <router-outlet />
    </div>
  </section>
</div>