<div class="h-100">
  <form class="h-100 d-flex flex-column gap-3">
    @if(editingCategory) {
    <input class="form-control" type="text" pInputText [(ngModel)]="value" name="editingCategoryName"
      placeholder="Edit category name" />
    <div class="d-flex gap-3 justify-content-end mt-auto">
      <button class="btn btn-secondary" type="button" (click)="dialogRef.close()">Cancel</button>
      <button class="btn btn-primary" type="button" (click)="updateCategory()">Update</button>
    </div>
    } @else {

    <div class="d-flex flex-nowrap gap-3">
      <p-treeselect class="flex-grow-1" [(ngModel)]="value" name="category" [options]="categories()"
        selectionMode="single" [showClear]="true" placeholder="Оберіть категорію" containerStyleClass="w-100"
        [filter]="true" [resetFilterOnHide]="true" (input)="onFilterInput($event)" (onHide)="filterText.set('')">


        <ng-template #empty>
          <div class="p-2 h-50">
            @if (newCategoryName(); as name) {
            <p-button icon="pi pi-plus" [label]="'Створити «' + name + '»'" [text]="true" size="small"
              styleClass="w-100" (onClick)="createNewCategory(name)"></p-button>
            } @else {
            <span>Нічого не знайдено</span>
            }
          </div>
        </ng-template>

      </p-treeselect>

      <input class="form-control w-50 flex-shrink-0" type="text" pInputText [(ngModel)]="subCategory" name="subCategory"
        placeholder="Enter sub-category" />
    </div>

    <div class="d-flex gap-3 justify-content-end mt-auto">
      <button class="btn btn-secondary" type="button" (click)="dialogRef.close()">Cancel</button>
      <button class="btn btn-primary" type="button" (click)="createCategory()">Create</button>
    </div>
    }
  </form>
</div>