<div class="card">
  <div class="card-header">
    <h5 class="card-title">Quick Actions</h5>
  </div>
  <div class="card-body">
    <ul class="list-unstyled d-flex flex-column gap-2">
      <!-- <li class="d-flex align-items-center gap-2 text-primary btn"> -->
      <li>
        <button class="btn btn-outline-primary w-100 d-flex align-items-center justify-content-start gap-2">
          <span class="icon pi pi-plus"></span> <span>Add Expense</span>
        </button>
      </li>
      <li>
        <button class="btn btn-outline-secondary w-100 d-flex align-items-center justify-content-start gap-2">
          <span class="icon pi pi-tags"></span> <span>Add Categories</span>
        </button>
      </li>
      <li>
        <button class="btn btn-outline-success w-100 d-flex align-items-center justify-content-start gap-2">
          <span class="icon pi pi-chart-line"></span> <span>View Reports</span>
        </button>
      </li>
      <li>
        <button class="btn btn-outline-info w-100 d-flex align-items-center justify-content-start gap-2">
          <span class="icon pi pi-file-excel"></span> <span>Import Excel</span>
        </button>
      </li>
    </ul>
  </div>
</div>
